.button-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list {
    border: 1px solid #ccc;
    display:block;
    height: 200px;
    flex-grow: 1;
    overflow-y: scroll;
    margin-top: 20px;
    min-width: 200px;
}

.mat-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 1px 7px;
    border-radius: 4px;
    margin-bottom: 8px; 
}

.mat-list-item-content {
    font-size: small;
    display:block;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 0px;
}