.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-content {
    width: 100%;
    max-width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.overflow-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear-button {
    margin-left: 1px;
    width: 24px; 
    height: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.mat-icon {
    height:auto;
    font-size: initial;
}

.selected-file-display {
    width: 325px;
    height: 20px;
    margin-bottom: 8px; 
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 8px;
}

.mat-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 1px 7px;
    border-radius: 4px;
    margin-bottom: 8px; 
}